html {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 100px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.buttons {
    height: 360px;
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 10px 10px;
}

.container {
    border: 1px solid black;
    height: 360px;
    width: 360px;
    display: grid;
}
